<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Chapter 3 | The Next Best Thing
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class='container'>
    <div class='header'>
      <h1>Where can I get some?</h1>
      <img src='http://lorempixel.com/output/technics-q-c-640-480-3.jpg' />
    </div>

    <div class='body'>
      <hr class='divider' />
      <p>CThere are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
        some form, by injected humour, or randomised words which don't look even slightly believable. If you are going
        to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of
        text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this
        the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful
        of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is
        therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
        <p>CThere are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
          some form, by injected humour, or randomised words which don't look even slightly believable. If you are going
          to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of
          text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this
          the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful
          of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is
          therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
    </div>
    <div class='footer'>
      <div class='btn-group'>
        <ion-button color="dark" fill="outline" routerLink="/chapter2">
          <ion-icon name="chevron-back-circle-outline"></ion-icon>
          Chapter 2
        </ion-button>
        <ion-button color="dark" fill="outline" routerLink="/chapter4">
          Chapter 4
          <ion-icon name="chevron-forward-circle-outline"></ion-icon>
        </ion-button>
      </div>
      <div class='page-id'>
        <h1>3</h1>
      </div>
      
    </div>
  </div>
</ion-content>